# New Section

In [ ]:
import pandas as pd

In [ ]:
#importing raw data
from google.colab import files
uploaded = files.upload()

Saving rating.csv to rating.csv

In [ ]:
import io
Raw_data = pd.read_csv(io.BytesIO(uploaded['movies_metadata.csv']))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Raw_data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
#cleaning the data
#check for null values in the title, vote_average and vote_count
Raw_data[['title', 'vote_average','vote_count','overview']].isnull().sum()

title             6
vote_average      6
vote_count        6
overview        954
dtype: int64

In [ ]:
#drop rows with null values
clean_data=Raw_data.dropna(subset=['title','vote_average','vote_count','overview'])
clean_data=clean_data.drop_duplicates()
clean_data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
#exploring overviews
clean_data['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
#import the Tfidf module using scikit learn
from sklearn.feature_extraction.text import TfidfVectorizer
#Remove all English stop words
tfidf=TfidfVectorizer(stop_words='english')
#construct the required tfid by fitting and transforming the data
tfidf_matrix=tfidf.fit_transform(clean_data['overview'])
#output shape of the matrix
tfidf_matrix.shape

(44493, 75827)

In [ ]:
#calculate the similarity scores. Use the cosine similarity score
#use the linear kernel method
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
cos_similarity=linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cos_similarity.shape

(44493, 44493)

In [ ]:
cos_similarity[1]

array([0.01501905, 1.        , 0.04679099, ..., 0.        , 0.02195423,
       0.0092431 ])

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(clean_data.index, index=clean_data['title']).drop_duplicates()

In [ ]:
#exploring indeces
indices[:3]

title
Toy Story           0
Jumanji             1
Grumpier Old Men    2
dtype: int64

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cos_similarity=cos_similarity):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cos_similarity[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first coz it's the movie itself
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return clean_data['title'].iloc[movie_indices]

In [ ]:
get_recommendations('Jumanji')

21633         Table No. 21
45253                 Quiz
41573         Snowed Under
35509             The Mend
44376    Liar Game: Reborn
17223       The Dark Angel
8801               Quintet
6166             Brainscan
30981         Turkey Shoot
9503             Word Wars
Name: title, dtype: object